---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import BlogInfo from '../components/RightSidebar/BlogInfo.astro';
import PageLayout from '../layouts/PageLayout.astro';
import { GITHUB_EDIT_URL } from '../consts';

type Props = CollectionEntry<'blog'>['data'] & {
	headings: MarkdownHeading[];
};

const { headings, title, description, pubDate, authors, tags, ...data } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `src/content/${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;

---

<PageLayout headings={headings} title={title} hasMiddle={true} githubEditUrl={githubEditUrl} {...data}>

<div class="column content">
	<h1 class="title">{title}</h1>
	<hr>
	<slot />
</div>

<div class="column is-one-quarter" slot="in_body_end">
	<RightSidebar headings={headings} githubEditUrl={githubEditUrl} tags={tags}>
		<BlogInfo blog={Astro.props}/>
	</RightSidebar>
</div>

</PageLayout>