---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import HeadSEO from '../components/HeadSEO.astro';
import { GITHUB_EDIT_URL } from '../consts';

type Props = CollectionEntry<'docs'>['data'] & {
	headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/content/${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
---
<HeadSEO {...data} canonicalUrl={canonicalURL} slot="extra_head" />

<div class="columns">
	<div class="column">
		<LeftSidebar currentPage={currentPage} />
	</div>
	<div class="column is-half">
		<slot />
	</div>
	<div class="column">
		<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
	</div>
</div>
