---
import type { MarkdownHeading } from 'astro';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import { SITE } from '../consts';

type Props = {
	title: string;
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const { headings, ...data } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `src/content/${currentPage.replace(/\/$/, '')}.md`;
---

<html dir={data.dir} lang={data.lang} class="initial">
	<head>
		<HeadCommon />
		<slot name="extra_head"/>
		<title>
			{`${data.title || "" } 🚀 ${SITE.title}`}
		</title>
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-rows: var(--theme-navbar-height) 1fr;
				--gutter: 0.5rem;
				--doc-padding: 2rem;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<slot />
		<Footer path={currentFile} />
	</body>
</html>
